<!DOCTYPE html>
<html>

<head>
    <title>Add Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/emp.css') }}" />

<body>
    <section class="header">
        <nav>
            <a href="home.html"></a>
            <h1 class="logo">CC Employee Management</h1>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>

                </ul>
            </div>
        </nav>
        <img src="{{ url_for('static', filename='images/employee-2.jpg') }}" alt="aboutUsPic" width="1540px"
            height=500px">
        <div class="text-container">
            <h1>Meet the leaders driving our amazing team</h1>
            <div class="row">
                <div class="column">
                    <center>
                        <img width="150" src="{{ url_for('static', filename='images/Chairman.jpg') }}" alt="Chairman">
                        <h4><b>Peter Meow</b></h4>
                        <p>Chairman</p>
                    </center>
                </div>
                <div class="column">
                    <center>
                        <img width="150" src="{{ url_for('static', filename='images/CEO.jpg') }}" alt="CEO">
                        <h4><b>July Meow</b></h4>
                        <p>CEO</p>
                    </center>
                </div>
                <div class="column">
                    <center>
                        <img width="150" src="{{ url_for('static', filename='images/COO.jpg') }}" alt="COO">
                        <h4><b>Jenny Meow</b></h4>
                        <p>Chief Operating Officer (COO)</p>
                    </center>
                </div>

                <div class="column">
                    <center>
                        <img width="150" src="{{ url_for('static', filename='images/CTO.jpg') }}" alt="CTO">
                        <h4><b>Meow Meow</b></h4>
                        <p>Chief Technology Officer (CTO)</p>
                    </center>
                </div>
            </div>
        </div>
    </section>

    <div class="text-container-1">
        <div class="row">
            <div class="column-story">
                <img width="450" height="400" src="{{ url_for('static', filename='images/building.jpg') }}"
                    alt="building" style="margin-left: 100px;">
            </div>
            <div class="column-story-1">
                <h1>Our Story</h1>
                <p>Founded in 2001, CC Employee Management is a next-generation global technology company that helps
                    businesses of all sizes and in all industries to transform their HR operations into the digital age
                    that will
                    propel their productivity growth to a new level. </p>
                <p>Started off with Windows-based HR System and along the way, the company grew in its reputation and
                    customer base. As economy changes and trend moves forward, we saw an opportunity to evolve from
                    Window-based software to a Cloud Human Resource Management Software (HRMS) and the Cloud-Based HRMS
                    software was successfully launched in Singapore in 2014. The company continued in its expansion and
                    set foot into Thailand, India and China.</p>
                <p>As of 2021, Info-Tech is serving more than 20,000 customers, manages more than 500,000 employees'
                    payroll, and has a team of more than 300 employees.</p>
            </div>
        </div>
        <div class="row">
            <div class="column-story-2">
                <h1>What We Do</h1>
                <p>We help to make managing businesses easy by providing an All-in-one solution to manage human resource
                    matters.</p>
                <p>Our Human Resource Management System(HRMS) provides a complete solution which includes manage
                    employee information and leaves.</p>
            </div>
            <div class="column-story">
                <img width="450" height="400" src="{{ url_for('static', filename='images/management.jpg') }}"
                    alt="management" style="margin-left: 100px;">
            </div>
        </div>
    </div>
</body>