<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(4, 9, 30, 0.7)),
            url("{{ url_for('static', filename='images/employee.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <title>Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/emp.css') }}" />
</head>

<body>
    <section class="header">
        <nav>
            <a href="/"></a>
            <h1 class="logo">CC Employee Management</h1>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <!-- <font color="black" size="4" style="font-family: avenir"> -->
                        <h1>Employee Information</h1>
                    </div>
                    <div class="panel-body">
                        <form>

                            <div>

                                Employee ID:<br> {{ result[0] }} <br><br>

                                First Name:<br> {{ result[1] }} <br><br>

                                Last Name:<br> {{ result[2] }} <br><br>

                                Primary Interest:<br> {{ result[3] }} <br><br>

                                Location:<br> {{ result[4] }} <br><br>

                                Image URL: <br> <img width="500px" height="500px" src='{{ image }}'
                                    alt="Employee Image"></a> <br><br>

                                <a href="/getemp">
                                    <button type="submit" class="btn btn-primary">RESET</button><br><br>
                                </a>
                            </div>

                        </form>




</body>

</html>
